html,
body {
  min-width: 100%;
  min-height: 100%;
  background-color: #36393f;
}

.navbar {
  background-color: #2f3136;
}

.navbar-item {
  color: whitesmoke;
}

.navbar-brand {
  justify-content: space-between;
}

.container {
  padding: 0 2%;
  color: whitesmoke;
}

.select-player {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 16px 0;
}

.select-player .select,
.select-player select {
  width: 100%;
  height: 100%;
}

.select-player .button {
  margin-left: 8px;
  height: 100%;
}

.hero-thumbnail-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hero-thumbnail-frame {
  margin: 3px;
  border-style: solid;
  border-width: 4px;
  border-color: #fff;
  width: calc(100%/5 - 6px);
}

.hero-thumbnail-frame-good {
  border-style: solid;
  border-width: 4px;
  border-color: #ffdb4a;
}

.hero-thumbnail {
  display: block;
  width: 100%;
}

@media screen and (min-width: 980px) {
  .hero-thumbnail-frame {
    margin: 6px;
    width: calc(100%/10 - 12px);
  }
  .hero-thumbnail-frame-good {
    border-width: 8px;
  }
}

.pool-list {
  margin: 16px 0 24px;
}

.pool-list .message-header {
  padding: 1vw 2vw;
}

.pool-list .message-body {
  padding: 1vw;
}

.message:not(:last-child) {
  margin-bottom: 1.0rem;
}

.menu {
  margin: 4vh 0;
  text-align: center;
}

.menu a {
  width: 100%;
}

.register-form {
  margin: 16px auto;
  padding: 0 8px;
  color: whitesmoke;
}

.register-form form {
  margin: 16px auto;
}

.register-form label {
  padding: 4px 16px 4px 0;
}

.register-form input[type="text"],
.register-form input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.register-form input[type="text"] {
  width: 100%;
  height: 48px;
  padding: 8px;
  font-size: 1.2rem;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.register-form input[type="checkbox"] {
  margin-right: 2px;
}

.register-form input[type="submit"] {
  display: block;
  margin: 32px auto;
  width: 100%;
}

.checkbox:hover,
.radio:hover {
  color: whitesmoke;
}

.hero-checkbox {
  margin: 16px 0;
}

.hero-checkbox li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.hero-checkbox li:not(:last-child) {
  border-bottom: solid 2px #bdc3C9;
}

.hero-checkbox input[type="checkbox"] {
  width: 1.4em;
  height: 1.4em;
}

.hero-checkbox img {
  vertical-align: middle;
  width: 16vw;
  max-width: 100px;
  margin: 0 8px;
}

.hero-checkbox-specialty {
  width: 30%;
}

.hero-checkbox-specialty label {
  display: block;
  position: relative;
  padding-left: 1.5em;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
}

.slide-enter-to,
.slide-leave {
  opacity: 1;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 400ms ease-out;
}

.footer {
  background-color: transparent;
  color: whitesmoke;
  padding: 0;
  margin: 24px 0;
  text-align: center;
}

.button {
  /* height: 40px; */
}

.content h2 {
  color: whitesmoke;
}

.title,
.subtitle {
  color: whitesmoke;
}
