<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} ^(.*)/api/(.*)$
    RewriteRule ^api/pools/([^.]+)$ api/pools.php?player=$1 [L]
    RewriteRule ^api/([^.]+)$ api/$1.php [L]

    RewriteCond %{REQUEST_FILENAME} ^(.*)$
    RewriteRule ^([^.]+)$ $1.html [L]
</IfModule>
