<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Charpool</title>
  <script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/gtag.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div id="app">

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://mobare.dip.jp/pool/">
          <h1>Charpool</h1>
        </a>
        <a href="register.html" class="navbar-item">
          <span>登録</span>
        </a>
      </div>
    </nav>

    <div class="container">

      <div class="pool-list">
        <transition-group name="slide" tag="article">
          <article class="message is-primary is-small" v-for="(pool, player) in pools" :key="pool.player">
            <div class="message-header">
              <span>{{ pool.player }}</span>
              <button class="delete is-medium" @click="remove(pool.player)"></button>
            </div>
            <div class="message-body">
              <div class="hero-thumbnail-wrapper">
                <div v-for="hero in pool.heros" class="hero-thumbnail-frame" :class="hero.specialty === 'good' ? 'hero-thumbnail-frame-good' : '' ">
                  <img :key="hero.name" :src="'img/' + herosName[hero.name] + '.jpg'" :title="hero.name" :alt="herosName[hero.name]" class="hero-thumbnail">
                </div>
              </div>
            </div>
          </article>
        </transition-group>
      </div>

      <div class="select-player">
        <div class="select">
          <select v-model="selectedPlayerName">
            <option disabled value="">パーティーメンバーを選択</option>
            <option v-for="player in players" :key="player">{{ player }}</option>
          </select>
        </div>
        <div class="select-button">
          <button class="button is-primary add-list" @click="addList">表示する</button>
        </div>
      </div>

      <div class="content is-small">
        <h2 class="title is-4">What's this</h2>
        <p class="subtitle is-6">ランクマッチの Pick & Ban でパーティーメンバーのヒーロープール (得意なヒーローや使えるヒーロー) を確認するためのツールです。</p>
      </div>

      <div class="content is-small">
        <h2 class="title is-4">How to use</h2>
        <ol type="1" class="subtitle is-6">
          <li>自分が得意なヒーローや使えるヒーローを登録する (持っていても苦手なヒーローなどは登録しなくてもよい)</li>
          <li>パーティメンバーのヒーロープールを表示して Pick & Ban で活用する</li>
        </ol>
      </div>

      <div class="content is-small">
        <p class="subtitle is-6">※ 現在、登録後の修正や削除はできませんので、間違えて登録した方は Discord でモリコまで DM かメンションください</p>
      </div>

      <div class="menu">
        <a href="register.html" class="button is-link">ヒーロープールを登録する</a>
      </div>

      <footer class="footer">
        <p>Ver. 0.9.0</p>
        <p>&copy; 2019 Morico</p>
      </footer>

    </div>
  </div>
  <script src="./js/app.js"></script>
</body>

</html>
