<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Charpool</title>
  <script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/gtag.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div id="app">
    <div class="container">

      <div class="select-player">
        <div class="select">
          <select v-model="selectedPlayerName">
            <option disabled value="">プレイヤーを選択</option>
            <option v-for="player in players" :key="player">{{ player }}</option>
          </select>
        </div>
        <div class="select-button">
          <button class="button is-primary add-list" @click="addList">表示する</button>
        </div>
      </div>

      <div class="pool-list">
        <transition-group name="slide" tag="article">
          <article class="message is-primary" v-for="(pool, player) in pools" :key="pool.player">
            <div class="message-header">
              <span>{{ pool.player }}</span>
              <button class="delete" @click="remove(pool.player)"></button>
            </div>
            <div class="message-body">
              <div class="hero-thumbnail-wrapper">
                <img v-for="hero in pool.heros" :key="hero" :src="'img/' + herosName[hero] + '.jpg'" :alt="herosName[hero]" class="hero-thumbnail">
              </div>
            </div>
          </article>
        </transition-group>
      </div>

      <div class="menu">
        <a href="register.html" class="button is-link">ヒーロープールを登録する</a>
      </div>

    </div>
  </div>
  <script src="./js/app.js"></script>
</body>

</html>
